/* for general tags*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Century Gothic', Helvetica, Tahoma, sans-serif;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: #fff;
}

img {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
    width: 100%;
}

/* my style general */

.my-bg {
    background-color: rgb(251, 237, 42);
}

.my-text {
    color: rgb(251, 237, 42);
}

.inline {
    display: inline;
}

.cursor {
    cursor: pointer;
}


header {
    padding: 2rem 0;
    background-color: rgb(0, 0, 0);
    color: #fff;
    text-align: center;
    font-family: 'Lucida Bright', Helvetica, Tahoma, sans-serif;
    font-size: 3rem;
}

nav {
    font-size: 1.5rem;
}

main {
    background-color: rgb(214, 214, 214);
}

    main .sort {
        font-size: 1.2rem;
    }

        main .sort button {
            border: 1px solid #000 !important;
            box-sizing: border-box;
        }

        main .sort button:hover {
            background-color: rgb(251, 237, 42) !important;
            color: rgb(0, 0, 0) !important;
            border: 1px solid #000 !important;
        }



    main .row .box {
        background-color: rgb(243, 243, 243);
        height: 100%;
        display: flex;
        align-items: stretch;
        max-height: 30rem;
    }

        main .row .box .image {
            width: 45%;
            overflow: hidden;
            object-fit: cover;
        }

            main .row .box .image img {
                transition: transform 5s;
                transition-timing-function: ease-out;
            }

            main .row .box .image img:hover {
                transform: scale(1.2);
            }

        main .row .box .text {
            width: 55%;
        }

             main .row .box .text .justify {
                 justify-self: self-start;
             }

footer {
    padding: 2rem 0;
    background-color:rgb(100, 100, 100);
    color: #fff;
    text-align: center;
    font-size: 2rem;
}